<h1>Categories#index</h1>
<ul class='categories'>
  <% @categories.each do |category| %>
    <li class='category'>

      <span class="category__name"></span><%= link_to "#{category.name}", category_path(category) %></span>

      <span class='category__update_info'>(last update: <%= category.updated_at.strftime('%d.%m.%Y') %>)</span>

      <% unless category.task %>
        <span class='category__update'><%= link_to 'update', category_tasks_path(category), method: :post %></span>
      <% end %>
    </li>

  <% end %>
</ul>

<p><%= link_to 'New category', new_category_path %></p>

<%= button_to "Clear Tasks", category_tasks_path({category_id: 0}), method: :delete %>