<div class="category_products">
  <%=  link_to 'â‡', categories_path,  class: 'link_back' %>

  <p class="category">
    <span class="category__name"><%= @category.name %></span>
    <span class="category__count"><%= @category.products.size %></span>
    <span class='category__update_info'>(last update: <%= @category.updated_at.getlocal.strftime('%H:%M   %d.%m.%Y') %>)</span>
    <%= render 'update_button' %>
  </p>

  <ul class="products">
    <%= render @category.products %>
  </ul>
</div>

<%=  link_to 'â‡', categories_path,  class: 'link_back' %>
<!--# last update == Time.new but in the site time == time - 3 hours !-->