
<li class='item'>
  <div>
    <img
      class='item__image'
      alt='image car'
      src=<%= product.photo_url ? product.photo_url : '' %> />
  </div>
  <ul class='item__info'>
    <li><span>ad_id</span>  <%= product.ad_id %></li>
    <li><span>more information:</span><a href=' <%= product.url %>'>link</a></li>
    <li><span>model:</span>  <%= product.name %> </li>
    <li><span>year:</span>  <%= product.year %> </li>
    <li><span>price:</span>  <%= product.price %>$</li>
    <li><span>city:</span>  <%= product.city %> </li>
    <li><span>description:</span>  <%= product.description %> </li>
  </ul>
</li>